 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
		    <p>I am tremendously passionate about the role of Design in mitigating the adverse effects of urban life on the human mind and body. Having earned a Bachelor’s degree in Architecture from India, I am currently pursuing Masters in Landscape Architecture from Louisiana State University. I am a Licensed Architect in India and have worked in Architecture as well as Landscape Architecture firms before moving to the United States. I have been awarded the title ‘University Olmsted Scholar -2015’ by Landscape Architecture Foundation, which I consider a great honor. Apart from being a trained mountaineer and hiker, I am also a qualified Vipassana meditation practitioner. Additionally, I have served as a volunteer in the NGO - CRY( Child Rights & You) focusing on abandoned children rescue and development across India. These undertakings, I feels have significantly helped me keep focus, remain grounded and recognize my role towards the society.</p>
            </div>
        </div>
    </section>
